.navbar{
    display: flex;
    padding: 1vw;
    justify-content: space-between;
}

.navbar .left {
    display: flex;
}

.navbar .left .truck-logo{
    width: 8vw;
    height: 6vh;
}

.navbar .dash-board{
    margin: 1vw 3vw;
    color: rgb(101, 101, 101);
    font-size: 1.3vw;
    font-weight: 600;
    background-color: transparent;
}

.navbar .right{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 1vw;
}

.navbar .right .demo{
    margin-top: 1vw;
    color: rgb(101, 101, 101);
}

.navbar .profile{
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 2vw;
}

.dashboard2 .data-buttons{
    display: flex;
    gap: 7vw;
    margin: 4vw;
}

.data-buttons button{
    cursor: pointer;
    width: 16vw;
    padding: 2vw;
    border: none;
    border-radius: 1vw;
    background-color: #1990FF;
    color: #fff;
    font-size: 1.5vw;
}