.add-drivers {
  background-color: #1990ff;
  color: white;
  border: none;
  padding: 1vw;
  margin: 1vw;
  cursor: pointer;
  font-size: 1vw;
  font-weight: 600;
  border-radius: 0.3vw;
}

.popup {
    position: relative;
    background-color: rgb(214, 217, 219);
}

form {
  height: 27vw;
  margin: 1vw;
}

.form-popup {
  position: absolute;
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
  border-radius: 1vw;
  margin: 1vw;
}

.popup .blur-background {
  display: block; 
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; 
  display: none; 
  /* backdrop-filter: blur(1px);  */
  background-color: rgba(90,90,90,.5019607843137255)!important;
}

form .content {
  display: flex;
  justify-content: space-between;

}

.form-popup form .filling {
  margin: 1vw;
}

.form-popup form .filling p {
  font-weight: 500;
}

.form-popup form .filling input {
  font-weight: 100;
  font-size: 1vw;
  width: 28vw;
  height: 2vw;
  padding: 0 0.2vw;
}

.popup-content {
  position: unset !important;
  margin: 1vw;
}

form .submit-button {
  float: right;
  /* margin: 1vw 20vw; */
  padding: 1vw 3vw;
  border: none;
  border-radius: 0.5vw;
  background-color: #1990ff;
  color: white;
  font-size: 1.2vw;
  font-weight: 600;
  cursor: pointer;
}

form .cancel-button {
  float: left;
  /* margin: 1vw 20vw; */
  padding: 1vw 3vw;
  border: none;
  border-radius: 0.5vw;
  background-color: #1990ff;
  color: white;
  font-size: 1.2vw;
  font-weight: 600;
  cursor: pointer;
}

.submitted-data{
  float: right;
  margin-right: 4vw;
  margin-top: 18vw;
}

.submitted-data .data{
  border: 1px solid gray;
  margin: 1vw;
  padding: 1vw;
height: 12vw;
}
