.add-drivers {
  background-color: #1990ff;
  color: white;
  border: none;
  padding: 1vw;
  margin: 1vw;
  cursor: pointer;
  font-size: 1vw;
  font-weight: 600;
  border-radius: 0.3vw;
}

.popup {
    position: relative;
    /* background-color: rgb(214, 217, 219); */
}

form {
  height: 27vw;
  margin: 1vw;
}

.form-popup {
  position: absolute;
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
  border-radius: 1vw;
  margin: 1vw;
}

.popup .blur-background {
  display: block; 
}

form .content {
  display: flex;
  justify-content: space-between;

}

.form-popup form .filling {
  margin: 1vw;
}

.form-popup form .filling p {
  font-weight: 500;
}

.form-popup form .filling p .imp{
  color: #F3747E;
}

.form-popup form .filling input {
  font-weight: 100;
  font-size: 1vw;
  width: 28vw;
  height: 2vw;
  padding: 0 0.2vw;
}

.popup-content {
  position: unset !important;
  margin: 1vw;
}

form .submit-button {
  float: right;
  /* margin: 1vw 20vw; */
  padding: 1vw 3vw;
  border: none;
  border-radius: 0.5vw;
  background-color: #1990ff;
  color: white;
  font-size: 1.2vw;
  font-weight: 600;
  cursor: pointer;
}

form .cancel-button {
  float: left;
  /* margin: 1vw 20vw; */
  padding: 1vw 3vw;
  border: none;
  border-radius: 0.5vw;
  background-color: #1990ff;
  color: white;
  font-size: 1.2vw;
  font-weight: 600;
  cursor: pointer;
}

.submitted-data{
  float: left;
    margin-right: 4vw;
    margin-top: 2vw 
}

.submitted-data{
  width: 100%;
}

.inData h1{
  padding: 0 5vw 3vw;
}

/* .submitted-data .data{
  border: 1px solid gray;
  margin: 1vw;
  padding: 1vw;
  height: 2vw;
} */

table {
  /* display: block; */
  overflow: hidden;
  table-layout: auto;
  border-collapse: collapse;
  box-shadow: 2px 2px #ccc;
  white-space: nowrap;
  width: 100%;
  max-width: 80%;
  margin: auto;
  overflow-x: auto;

}

thead{
  background-color: #ccc;
}

table th{
  padding: .2vw 1.5vw;
}

table td{
  border-top: .1vw solid #ddd;
  padding: 0vw 2vw;
  text-align: center;
}

table tbody tr:hover{
  cursor: pointer;
  background-color: #eee;
}

.ed-buttons{
  display: flex;
  justify-content: space-evenly;
  gap: 1vw;
}

.edit-button{
  background-color: transparent;
  float: left;
  margin: 1vw 0;
  border: none;
  border-radius: 0.5vw;
  color: #485574;
  font-size: 1vw;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.delete-button{
  float: right;
  margin: 1vw 0;
  border: none;
  border-radius: 0.5vw;
  background-color: transparent;
  color: rgb(235, 16, 16);
  font-size: 1vw;
  font-weight: 600;
  cursor: pointer;
}

.delete-button:hover, .edit-button:hover{
  transform: scale(1.2);
}
