.white-bg{
    background-color: #F8F8F8;
    height: 18vw;
}

.blue-head{
   color: #344168;
   text-align: center;
   font-size: 3vw;
   padding-top: 2vw;
   padding-bottom: 3vw;
}

.companies-images{
    margin: 0 6vw;
}

.companies-images img{
width: 14vw;
padding-right: 2vw;
}

.tune{
margin: 3vw 10vw;
}

.tune-text{
text-align: center;
color: #344168;
font-size: 1.4vw;
margin: 2vw 0 3vw;
}

.tune-frame iframe{
width: 100%;
height: 25vh;
border: none;
border-radius: 5px;
}

.slick-slider {
margin: 0 12vw;
}

.recognized-img{
    width: 20vw;
}

.slick-dots{
    background-color: #F8F8F8;
}