.image-slider{
    margin: 4vw 10vw;
}

.image-slider h1{
    text-align: center;
    color: #344168;
    font-size: 3vw;
}

.image-slider .owners{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.image-slider .owners button{
 color: gray;
 border: none;
 background-color: #fff;
 width: 15vw;
}

.owners .slide .text{
    width: 71vw;
    margin: 4vw 0;
    font-size: 1.8vw;
    font-weight: 300;
}

.image-slider .owners .slide img{
    display: flex;
    gap: 10vw;
    width: 15vw;
    height: 30vh;
    border-radius: 0.6vw;
    margin: 5vw 0 1vw 28vw;
}

.image-slider .owners .slide .name {
    font-weight: bold;
    font-size: 1.8vw;
}

.image-slider .owners .slide .bs{
    color: rgb(173, 170, 170);
    font-weight: 200;
}