.image-slider {
  margin: 4vw 0;
}

.image-slider h1 {
  text-align: center;
  color: #344168;
  word-spacing: 2px;
  font-size: 2.8vw;
  padding-bottom: 5vw;
}

.slide-content {
}

.slide-content .text {
  text-align: center;
  font-size: 1.8vw;
  font-weight: 200;
  margin: 0 4vw;
}

.slick-slide img {
  display: block;
  width: 16vw;
  height: 16vw;
  border-radius: 0.6vw;
  margin: 2vw 29vw;
}

.slide-content .name {
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
}

.slide-content .bs {
  text-align: center;
  color: #E1E1E1;
}

.image-slider .slick-dots {
  background-color: #fff;
}
