.owners{
    margin: 4vw 10vw;
}

.owners h1{
    text-align: center;
    color: #344168;
}

.owners .content{
    display: flex;
    margin-top: 5vw;
}

.owners .content .imgs{
    display: flex;
    gap: 10vw;
}

.owners .content .arrows{
 color: gray;
}

.owners .content .imgs img{
    width: 16vw;
    height: 36vh;
    border-radius: 5px;
}

.cont .text{
    width: 50vw;
}

.react-slideshow-wrapper {
    width: 2vw;
}

.nav {
    border: 1px solid black;
    background-color: #fff;
    border: none;
    width: 0vw;
}